body{
  font-family: Arial;
  text-align:center;
}
.cards{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:30px;
}
.card{
  padding:30px;
  background:#f0f0f0;
  cursor:pointer;
  border-radius:10px;
}
.card:hover{
  background:#ddd;
}
